<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Restaurant</ion-title>
</ion-toolbar>
  <ion-segment value="" [scrollable]="true" (ionChange)="changeSegment($event)">
    <ion-segment-button value="">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngFor="let category of categories" [value]="category.id">
      <ion-label>{{category.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-list *ngFor="let category of (categories) | filterProducts:category" >
    <ion-list-header color="primary">
      <ion-label>{{category.name}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let product of category.products"> 
      <ion-icon [name]="product.thumbnail" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <!-- TODO: formatear monto -->
        <p>$ {{product.price}}</p> 
      </ion-label>
      <ion-button shape="circle" (click)="addProductInOrder(product)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- 
    TODO: Implementar skeleton
    <ion-list *ngIf="( categories | async ) === null ">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-skeleton-text slot="end" style="width: 50px; height: 50px"></ion-skeleton-text>
    </ion-item>
  </ion-list> -->
</ion-content>
<ion-footer *ngIf="productsOrder">
  <ion-toolbar>
    <ion-title size="small">Subtotal</ion-title>
    <ion-title size="small" slot="end">$ {{totalAmount}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button expand="full">Ver pedido</ion-button>
  </ion-toolbar>
</ion-footer>