<h1 mat-dialog-title class="{{ titleColor }}">{{ title }}</h1>
<mat-dialog-content class="mat-typography">
  <form class="form-horizontal min-width" [formGroup]="formGroup" style="min-width: 500px;">
    <div class="form-group row">
      <div class="col-sm-12">
        <h3>{{ subTitle }}</h3>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-12 col-form-label">Nombre <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("first_name"))'>campo requerido</span></label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("first_name")) }}'
          [formControlName]="'first_name'" placeholder="Nombre" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastName" class="col-sm-12 col-form-label">Apellido <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("last_name"))'>campo requerido</span></label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("last_name")) }}'
          [formControlName]="'last_name'" placeholder="Apellido" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-12 col-form-label">Título</label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("title")) }}'
          [formControlName]="'title'" placeholder="Título" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputSpecialty" class="col-sm-12 col-form-label">Especialidad</label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("specialty")) }}'
          [formControlName]="'specialty'" placeholder="Especialidad" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputInstitution" class="col-sm-12 col-form-label">Institución <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("institution"))'>campo requerido</span></label>
      <div class="col-md-12">
        <input id="typeahead-institution" class='form-control {{ validateInput(formGroup.get("institution")) }}'
          [formControlName]="'institution'" name="institution" type="text" [container]="'body'" [placement]="'bottom-left'"
          [inputFormatter]="formatterInstitution" [resultFormatter]="formatterInstitution" [editable]='false' [readOnly]='disabledForm'
          [ngbTypeahead]="searchInstitution" (focus)="focusInstitution$.next($any($event).target.value)"
          (click)="clickInstitution$.next($any($event).target.value)" #instanceInstitution="ngbTypeahead" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-12 col-form-label">Email <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("email"))'>campo requerido</span></label>
      <div class="col-sm-12">
        <input type="email" class='form-control {{ validateInput(formGroup.get("email")) }}' [formControlName]="'email'"
          placeholder="ejemplo@gmail.com" [email]="true" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPhoneNumber" class="col-sm-12 col-form-label">Teléfono <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("phone_number"))'>campo requerido</span></label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("phone_number")) }}'
          [formControlName]="'phone_number'" placeholder="Teléfono" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAddress" class="col-sm-12 col-form-label">Dirección <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("address"))'>campo requerido</span></label>
      <div class="col-sm-12">
        <input type="text" class='form-control {{ validateInput(formGroup.get("address")) }}'
          [formControlName]="'address'" placeholder="Dirección" [readonly]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAddress" class="col-sm-12 col-form-label">Provincia <span class="badge badge-danger"
          *ngIf='validateAlert(formGroup.get("province"))'>campo requerido</span></label>
      <div class="col-md-12">
        <input id="typeahead-province" class='form-control {{ validateInput(formGroup.get("province")) }}'
          [formControlName]="'province'" name="province" type="text" [container]="'body'" [placement]="'bottom-left'"
          [inputFormatter]="formatterProvince" [resultFormatter]="formatterProvince" [editable]='false' [readOnly]='disabledForm'
          [ngbTypeahead]="searchProvince" (focus)="focusProvince$.next($any($event).target.value)"
          (click)="clickProvince$.next($any($event).target.value)" #instanceProvince="ngbTypeahead" />
      </div>
    </div>
  </form>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="denyBtnValue" class="btn btn-{{ firstBtnColor }} btn-sm"
    style="margin-right: 10px;">{{ firstBtnText }}</button>
  <button mat-button [mat-dialog-close]="this.formGroup.value" class="btn btn-{{ secondBtnColor }} btn-sm"
    [disabled]="!formGroup.valid || errorDate">{{ secondBtnText }}</button>
</mat-dialog-actions>